# Node
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.github

# Docs
*.md
LICENSE
LICENSE.*

# Next.js
.next
out

# Editor/OS
.vscode
.idea
.DS_Store
*.swp

# Build artifacts
coverage
dist

# Env files
.env
.env.*

